#### 交叉预报配置文件 ####
[PATH]
ROOT  = /home/gsics/DISK2/CMA_GSICS
TITLE = %(ROOT)s/SupportData/title
ORBIT = %(ROOT)s/SupportData/orbit
CROSS = %(ROOT)s/SupportData/cross
LOG   = %(ROOT)s/Log

[SAT_TYPE]
GEO = FENGYUN-2C, FENGYUN-2D, FENGYUN-2E, FENGYUN-2F, FENGYUN-2G,FENGYUN-4A

[TITLE]
#报文获取地址
URL = http://www.calsky.com/observer//tle.cgi?satid=%s&tdt=%f
# 报文更新期限或允许延时（即报文3天没有更新也可保存为当天时间的报文，超过则不下载）
DELAY = 3

[ORBIT]
ORBIT_DAYS = 14 #轨迹计算的天数，业务上是14, windows的轨迹计算程序有问题 不回自动向前找报文，所以只能预报当天
ORBIT_EXE = orbit_calculate.exe  #根据部署系统类型自动到项目目录exe/windows或是linux下查找此程序

[SAT_ID]
#卫星报文标识ID清单
#FENGYUN-2C  = 04042A
#FENGYUN-2D  = 06053A
FENGYUN-2E   = 08066A
FENGYUN-2F   = 12002A
FENGYUN-2G   = 14090A
FENGYUN-3A   = 08026A
FENGYUN-3B   = 10059A
FENGYUN-3C   = 13052A
HIMAWARI-8   = 14060A
METOP-A      = 06044A
METOP-B      = 12049A
#NOAA-17      = 02032B
#NOAA-18      = 05018A
#NOAA-19      = 09005A
ENVISAT      = 02009A
PARASOL      = 04049G
TERRA        = 99068A
GOSAT        = 09002A
AQUA         = 02022A
GCOM         = 12025A
NPP          = 11061A
GPM          = 14009C
TANSAT       = 16081A
OCO-2        = 14035A
Tiangong-2   = 16057A
YUNHAI       = 16068A
FENGYUN-4A   = 16077A


[CROSS]
#轨迹文件需要存在向后14天
CROSS_DAYS = 14

[[FENGYUN-2E]]
sat_list    = AQUA, TERRA, METOP-A, METOP-B, NPP  # 目标卫星
sat_dist    = 32.6  # degree
[[FENGYUN-2F]]
sat_list    = AQUA, TERRA, METOP-A, METOP-B, NPP  # 目标卫星
sat_dist    = 32.6  # degree
[[FENGYUN-2G]]
sat_list    = AQUA, TERRA, METOP-A, METOP-B, NPP  # 目标卫星
sat_dist    = 32.6  # degree

[[FENGYUN-3A]]
area_list   = ,                                   # ALL, 或者是区域名字
fix_list    = group1,                             # 只能写组的名字
fix_dist    = 800                                 # unit KM
sat_list    = AQUA, TERRA, METOP-A, METOP-B, NPP  # 目标卫星
sat_dist    = 1000                                # unit KM
sat_time_high  = 5, 5, 5, 5, 22                   # unit mins
sat_time_low  = 15, 15, 15, 15, 22                # unit mins

[[FENGYUN-3B]]
area_list   = ,                                   # ALL, 或者是区域名字
fix_list    = group1, group3                      # 只能写组的名字
fix_dist    = 800                                 # unit KM
sat_list    = AQUA, TERRA, METOP-A, METOP-B, NPP  # 目标卫星
sat_dist    = 1000                                # unit KM
sat_time_high  = 5, 5, 5, 5, 22                   # unit mins
sat_time_low  = 15, 15, 15, 15, 22                # unit mins

[[FENGYUN-3C]]
area_list   = ,                                   # ALL, 或者是区域名字
fix_list    = group1, group3                      # 只能写组的名字
fix_dist    = 800                                 # unit KM
sat_list    = AQUA, TERRA, METOP-A, METOP-B, NPP, GCOM  # 目标卫星
sat_dist    = 1000                                # unit KM
sat_time_high  = 5, 5, 5, 5, 30, 5                # unit mins
sat_time_low  = 15, 15, 15, 15, 30, 15            # unit mins

[[AQUA]]
fix_list    = group2, group3                      # 目标固定点 只能写组的名字
fix_dist    = 800                                 # unit KM
[[TERRA]]
fix_list    = group2, group3                      # 目标固定点 只能写组的名字
fix_dist    = 800                                 # unit KM
[[NPP]]
fix_list    = group4,                             # 目标固定点 只能写组的名字
fix_dist    = 800                                 # unit KM

[[TANSAT]]
sat_list    = OCO-2,GOSAT,NPP                   # 目标卫星
sat_dist    = 1000                              # unit KM
sat_time_high  = 100, 50,15                     # unit mins
sat_time_low  = 100, 50,22                      # unit mins

[[Tiangong-2]]
sat_list    = AQUA, METOP-B, NPP          # 目标卫星
sat_dist    = 1000                        # unit KM
sat_time_high  = 5, 5, 5                  # unit mins
sat_time_low  = 15, 15,15                 # unit mins

[[YUNHAI]]
sat_list    = AQUA, METOP-B, NPP               # 目标卫星
sat_dist    = 1000                             # unit KM
sat_time_high  = 5, 5, 5                       # unit mins
sat_time_low  = 15, 15,15                      # unit mins

[AREA_LIST]    # 区域经纬度 N, S, W, E (上，下，左，右)
huabei  =  43, 35, 112, 120
beijing =  42, 38, 114.5, 118.5
quanqiu =  90, -90, -180, 180
beiji   =  50, 50, -180, 180

[FIX_LIST]    #站点名称，经度，维度
[[group1]]
xinjiangaletai          = 88.0710, 47.7415    #新疆阿勒泰
qinghaihu               = 100.15, 36.88       #青海湖
wuwei                   = 102.97, 38.1        #武威
dunhuang                = 94.27, 40.18        #敦煌
milan                   = 88.73, 39.12        #米兰
tumushuke               = 80.02, 39.77        #图木舒克
chaidamuyanjian         = 93.12, 38.58        #柴达木盐碱 
Algeria1                = -0.4, 23.8          #阿尔及利亚
Algeria3                = 7.66, 30.32         #阿尔及利亚
Algeria5                = 2.23, 31.02         #阿尔及利亚
Arabia1                 = 46.76, 18.88        #阿拉伯半岛
Arabia2                 = 50.96, 20.13        #阿拉伯半岛
Uyuni_salt_Flats        = -67.45, -20.22      #玻利维亚 
Kaka_Lake               = -67.04, -18.8       #玻利维亚
Libya1                  = 13.35, 24.42        #利比亚
Libya2                  = 20.48, 25.05        #利比亚
Libya4                  = 23.39, 28.55        #利比亚
lake_frome              = 139.78, -30.757     #莱克
Mali                    = -4.85, 19.12        #马里
Mauritania2             = -8.78, 20.85        #毛利塔尼亚2
Niger1                  = 9.81, 19.67         #尼日尔
Niger2                  = 10.59, 21.37        #尼日尔
Sudan1                  = 28.22, 21.74        #苏丹
Sonora                  = -114.1, 31.955      #墨西哥
Taklamakan              = 85.1, 39.5          #塔克拉玛干
Tuz_Golu                = 33.33, 38.83        #土耳其
White_Sands             = -106.35, 32.92      #白沙
Tinga_Tingana           = 139.86, -29         #澳大利亚
PacificN1               = 135, 15             #太平洋
PacificN2               = 150, 15             #太平洋
AtlanticN               = -45, 20             #大西洋
AtlanticS               = -30, -15            #大西洋
IndianOcean             = 80, -20             #印度洋
MobyLanai               = -156.9273, 20.86147 #MOBY浮标
namucuohu               = 90.57, 30.65        #纳木措湖
kunlunfeng              = 81.0, 35.3          #昆仑峰(古里雅冰帽) 
puruobingchuan          = 89.15, 33.9         #普若冰川
geladandong             = 91.0, 33.4          #格拉丹东
Dome_C                  = 123, -74.5          #冰雪目标  南极
Greenland               = -41, 75             #格陵兰岛  北极

[[group2]]
dunhuang                = 94.27, 40.18
Algeria3                = 7.66, 30.32
Algeria5                = 2.23, 31.02
Arabia1                 = 46.76, 18.88
Arabia2                 = 50.96, 20.13
Uyuni_salt_Flats        = -67.45, -20.22
Libya1                  = 13.35, 24.42
Libya4                  = 23.39, 28.55
Mauritania2             = -8.78, 20.85
Sonora                  = -114.1, 31.955
White_Sands             = -106.35, 32.92
Tinga_Tingana           = 139.86, -29
MobyLanai               = -156.9273, 20.86147
namucuohu               = 90.57, 30.65
qinghaihu               = 100.15, 36.88
kunlunfeng              = 81.0, 35.3
puruobingchuan          = 89.15, 33.9
Mali                    = -4.85, 19.12
Niger2                  = 10.59, 21.37
Sudan1                  = 28.22, 21.74
PacificN1               = 135, 15
AtlanticN               = -45, 20
IndianOcean             = 80, -20
geladandong             = 91.0, 33.4

[[group3]]
Dome_C                  = 123, -74.5
Greenland               = -41, 75

[[group4]]
kunlunfeng              = 81.0, 35.3
puruobingchuan          = 89.15, 33.9
geladandong             = 91.0, 33.4

[CROND]
# 不跟参数执行时，滚动天数
rolldays = 1, 2, 3, 4, 5, 10, 15
